<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Options</title>
</head>
<body>
<h1>Options</h1>
<table>
    <tr>
        <th>Symbol</th>
        <th>Expiration Date</th>
        <th>Strike Price</th>
        <th>Option Type</th>
        <th>Last Price</th>
        <th>Bid Price</th>
        <th>Ask Price</th>
        <th>Volume</th>
        <th>Open Interest</th>
    </tr>
    <tr th:each="option : ${options}">
        <td th:text="${option.symbol}"></td>
        <td th:text="${option.expirationDate}"></td>
        <td th:text="${option.strikePrice}"></td>
        <td th:text="${option.optionType}"></td>
        <td th:text="${option.lastPrice}"></td>
        <td th:text="${option.bidPrice}"></td>
        <td th:text="${option.askPrice}"></td>
        <td th:text="${option.volume}"></td>
        <td th:text="${option.openInterest}"></td>
    </tr>
</table>
</body>
</html>